.content{
	height:auto; 
	min-height:100%; 
	width:100%; 
	display:flex; 
}

.menu{
	padding: 5px;
	height:auto;
	min-height:100%;
	width:25%;
	float:left;  
	background-color: #E0E0E0;
	border: black solid 2px;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	padding: 10px;
}

.menuframe{
	height:auto;
	width: auto;
	background-color: #E5E5E5;
	border: solid #CECECE 5px;
	padding: 5px;
}

.main{
	padding: 5px;
	height:auto;
	min-height:100%;
	width:75%; 
	float:left;
	background-color: #F1F1F1;
	border: black solid 2px;
	border-left: 0;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	padding: 10px;
}

.mainframe{
	height:auto;
	width: auto;
	background-color: #f5f5f5;
	border: solid #d1d1d1 5px;
	padding: 5px;
}